.addExpenseContainer {
  .navbar {
    background-color: #28ac7d;
    padding: 20px;
    height: 60px;
    display: flex;
    gap: 27rem;
    align-items: center;
    color: white;
    .dashboard {
      padding: 5px 10px;
      border: 2px white solid;
      background-color: #28ac7d;
      color: white;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        background-color: #18664b;
      }
    }
  }
  .inputForm {
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    input {
      width: 250px;
    }
    input,
    select {
      padding: 5px;
      border-radius: 5px;
    }
    button {
      padding: 7px 20px;
      background-color: #28ac7d;
      color: white;
      border: none;
      border-radius: 10px;
      &:hover {
        background-color: #18664b;
      }
    }
  }

  .tableData {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    table {
      table-layout: fixed;
      border-spacing: 0;
    }
    tr {
      background-color: #28ac7d;
      color: white;
      th,
      td {
        padding: 15px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        text-align: left;
        button {
          padding: 5px 10px;
          background-color: #25816e;
          border: none;
          cursor: pointer;
          box-shadow: 0.3px 0.3px 15px 1px;
          border-radius: 5px;
        }
      }
    }
    tr:nth-child(even) {
      background-color: #37745d;
    }
    .content {
      background-color: #2b5445;
    }
  }
}

@media screen and (max-width: 940px) {
  .addExpenseContainer {
    .navbar {
      gap: 14rem;
    }
    .inputForm {
      flex-direction: column;
    }
  }
}
