.main {
  padding: 0px 50px 0px 50px;
  nav {
    overflow: hidden;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-weight: 700;
      font-size: 1.9rem;
      color: #28ac7d;
      cursor: pointer;
    }
    .signin {
      background-color: #28ac7d;
      color: white;
      padding: 0.4rem 1rem;
      border: none;
      font-size: 1.1rem;
      text-decoration: none;
      font-weight: 700;
      &:hover {
        color: white;
      }
    }
    .menu-btn {
      font-size: 30px;
      cursor: pointer;
      display: none;
    }
    #menu {
      display: none;
    }

    ul {
      display: flex;
      list-style: none;
      transition: all 0.3s ease;
      li {
        margin: 15px 10px 0px 0px;
        a {
          color: 1b1b1b;
          text-decoration: none;
          padding: 0.4rem 1rem;
          border: none;
          border-radius: 0.2rem;
          font-size: 1.1rem;
          font-weight: 700;
          transition: all 0.2s ease;
          &:hover {
            color: #28ac7d;
          }
        }
      }
    }
  }
  #hero {
    text-align: center;
    margin-top: 100px;
    .heading {
      font-size: 2.5rem;
    }
    .signup {
      padding: 0.4rem 1.6rem;
      border: none;
      border-radius: 0.2rem;
      font-size: 1.1rem;
      font-weight: 700;
      background-color: #28ac7d;
      color: white;
      margin-top: 20px;
      cursor: pointer;
    }
    .hero-signin {
      display: none;
      text-decoration: none;
    }
    img {
      width: 600px;
      margin-top: 20px;
    }
  }
  #whywe {
    display: flex;
    margin-top: 100px;
    gap: 40px;
    align-items: center;
    justify-content: center;
    .leftSide {
      img {
        width: 500px;
      }
    }
    .rightSide {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .heading {
        font-size: 2.5rem;
      }
      ul {
        list-style: none;
        li {
          margin-top: 42px;
        }
      }
    }
  }
  #pricing {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .heading {
      font-size: 2.5rem;
    }
    .subheding {
      margin-top: 10px;
    }
    .plans {
      display: flex;
      gap: 130px;
      margin-top: 50px;
      align-items: center;
      justify-content: center;
      .hoverplan {
        padding: 50px 10px 10px 10px;
        border-radius: 15px;
        transition: all 0.3s ease;
        &:hover {
          background-color: #28ac7d;
        }
      }
      .plan {
        height: 320px;
        background-color: white;
        border-radius: 10px;
        img {
          text-align: center;
          margin-left: auto;
          display: block;
          margin-right: auto;
        }
        .text1 {
          color: #28ac7d;
          font-weight: 700;
          text-align: center;
        }
        .text2 {
          font-weight: 500;
          margin-top: 10px;
          text-align: center;
        }
        .text3 {
          font-weight: 500;
          margin-top: 20px;
          text-align: center;
        }
        ul {
          margin-top: 20px;
          list-style: none;
          li {
            padding: 10px;
            text-align: center;
          }
        }
        &:hover {
        }
      }
    }
  }
  #testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    h1 {
      font-size: 2.5rem;
    }
    .slide-container {
      display: flex;
      margin-top: 50px;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 20px;
      .slide {
        border: 1px solid #28ac7d;
        padding: 20px;
        border-radius: 10px;
        transition: 0.2s;
        h3 {
          color: #28ac7d;
          margin-bottom: 5px;
        }
        &:hover {
          box-shadow: 0px 5px 20px 1px #28ac7d;
        }
      }
    }
  }
}
#footer {
  margin-top: 100px;
  display: flex;
  width: 100%;
  height: 200px;
  background-color: #28ac7d;
  gap: 200px;
  align-items: center;
  justify-content: center;
  color: white;
  .copyright {
    display: flex;
    flex-direction: column;
    gap: 40px;
    h1 {
      font-size: 2rem;

      p {
        font-weight: 500;
      }
    }
  }
  .features {
    h1 {
    }
    p {
      margin-top: 10px;
    }
  }
  .company {
    p {
      margin-top: 10px;
      a {
        text-decoration: none;
        color: white;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
@media screen and (max-width: 940px) {
  .main {
    nav {
      .menu-btn {
        font-size: 30px;
        cursor: pointer;
        display: block;
      }
      #menu:checked ~ ul {
        left: 0%;
      }
      .signin {
        display: none;
      }
      ul {
        position: fixed;
        top: 80px;
        background-color: #92dfc4;
        left: -110%;
        color: white;
        height: 100vh;
        width: 100vw;
        display: block;
        text-align: center;
        li {
          margin: 40px 0px;
        }
      }
    }
    /* Hero Section CSS */
    #hero {
      margin-top: 70px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .heading {
        font-size: 2rem;
      }
      .subheading {
        font-size: 0.9rem;
      }
      .hero-signin {
        display: inline;
        padding: 0.4rem 1.6rem;
        border: none;
        border-radius: 0.2rem;
        font-size: 1.1rem;
        font-weight: 700;
        background-color: #28ac7d;
        color: white;
        margin-top: 20px;
        margin-right: 5px;
        cursor: pointer;
        text-decoration: underline;
      }
      .signup {
        text-decoration: underline;
      }
      img {
        width: 300px;
        margin-top: 20px;
      }
    }

    /* Why We Scection CSS */
    #whywe {
      flex-direction: column;
      .leftSide {
        img {
          width: 400px;
        }
      }
      .rightSide {
        gap: 20px;
        .heading {
          text-align: center;
          font-size: 1.5rem;
        }
        ul {
          li {
            margin-top: 20px;
            text-align: center;
            font-size: 0.9rem;
          }
        }
      }
      .leftSide {
        img {
          width: 300px;
        }
      }
    }
    /* Pricing Responsive CSS */
    #pricing {
      .heading {
        font-size: 1.5rem;
        text-align: center;
      }
      .subheding {
        font-size: 0.8rem;
        text-align: center;
      }

      .plans {
        gap: 10px;
        flex-direction: column;
        .plan {
          ul {
            li {
              text-align: center;
            }
          }
        }
      }
    }
    #testimonials {
      h1 {
        font-size: 1.5rem;
      }
      p {
        font-size: 0.8rem;
      }
      .slide-container {
        flex-direction: column;
        .slide {
        }
      }
    }
  }
  #footer {
    height: 300px;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    .copyright {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h1 {
        font-size: 1.7rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
    .features {
      h1 {
        font-size: 1.4rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
    .company {
      h1 {
        font-size: 1.4rem;
      }
      p {
        font-size: 0.8rem;
        a {
          text-decoration: none;
          color: white;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
